<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Accueil') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ _('MobilierBudget : choisissez ce que vous voulez chercher') }}</h1>
    
    <button><a href="/terrain">{{ _('Terrain à vendre') }}</a></button>
    <button><a href="/maison">{{ _('Maison à louer') }}</a></button>

    <div></div>
</body>
</html>
